@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "variables";
@import "typography";

@import "~sweetalert2/src/sweetalert2.scss";

html,
body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
